extends layout

block content
  h1 Lupa Password

  if error
    p(style='color: red;') #{error}

  form(method='post', action='/auth/forgot-password')
    input(type='email', name='email', placeholder='Email', required)
    button(type='submit') Reset Password