extends layout

block content
  .login-container
    .header
      .logo-container
        img.logo(src='/images/logo.jpg', alt='Logo FE Open Course')
        span.brand FE Open Course
      nav.navigation
        ul
          li
            a(href='#') Kelas
          li
            a(href='#') Sertifikat Terprogram
          li
            a(href='#') Tentang
      .auth-buttons
        button.daftar(onclick="window.location.href='/register'") Daftar
        button.masuk Masuk
    .content
      .login-box
        h2.login-title Masuk
        form(method='post', action='/auth/login')
          .input-group
            label(for='email') Email
            input(type='email', name='email', id='email', placeholder='Email', required)
          .input-group
            label(for='password') Password
            input(type='password', name='password', id='password', placeholder='Password', required)
          button.login-button(type='submit') Masuk
        .login-options
          a(href='/register') Tidak punya akun?
          span.separator |
          a(href='/forgot-password') Lupa password?