extends layout

block content
  h1 Reset Password

  if error
    p(style='color: red;') #{error}

  form(method='post', action='/auth/reset-password/' + token) // Perhatikan: token ditambahkan ke action
    input(type='password', name='password', placeholder='Password Baru', required)
    input(type='password', name='confirm_password', placeholder='Konfirmasi Password', required)
    button(type='submit') Simpan Password